<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inyu.dal.CrmCustomerMapper">
  <resultMap id="BaseResultMap" type="com.inyu.entity.CrmCustomer">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="owner_role_id" jdbcType="INTEGER" property="ownerRoleId" />
    <result column="creator_role_id" jdbcType="INTEGER" property="creatorRoleId" />
    <result column="contacts_id" jdbcType="INTEGER" property="contactsId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="origin" jdbcType="VARCHAR" property="origin" />
    <result column="licenc_no" jdbcType="VARCHAR" property="licencNo" />
    <result column="website" jdbcType="VARCHAR" property="website" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="landline_telephone" jdbcType="VARCHAR" property="landlineTelephone" />
    <result column="fax" jdbcType="VARCHAR" property="fax" />
    <result column="satisfy" jdbcType="INTEGER" property="satisfy" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="zip_code" jdbcType="VARCHAR" property="zipCode" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="annual_revenue" jdbcType="VARCHAR" property="annualRevenue" />
    <result column="ownership" jdbcType="VARCHAR" property="ownership" />
    <result column="rating" jdbcType="VARCHAR" property="rating" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="is_locked" jdbcType="INTEGER" property="isLocked" />
    <result column="delete_role_id" jdbcType="INTEGER" property="deleteRoleId" />
    <result column="delete_time" jdbcType="DATE" property="deleteTime" />
  </resultMap>
</mapper>