<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inyu.dal.QuartzConfigMapper">
  <resultMap id="BaseResultMap" type="com.inyu.entity.QuartzConfig">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="group" jdbcType="VARCHAR" property="group" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="cron" jdbcType="VARCHAR" property="cron" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="msg" jdbcType="VARCHAR" property="msg" />
    <result column="quartz_class" jdbcType="VARCHAR" property="quartzClass" />
  </resultMap>
</mapper>